__pycache__/

cudnn-linux-x86_64-8.9.2.26_cuda11-archive/
cudnn-linux-x86_64-8.9.2.26_cuda11-archive.tar.xz

/blip2_models/clip_vit_L.pth
/blip2_models/eva_vit_g.pth
/blip2_query_cls/eva_vit_g.pth

data/

eval/baiqiao_eval_script
eval/eval_data
eval/mappings
/eval/tiku_features_data
/eval/mapping.json
/eval/check_img2es.py
/eval/detect_eval.py
/eval/eval_excel_img_es.py
/eval/eval_local_img_es.py
/eval/eval_local_img_milvus.py
/eval/search_es.py
/eval/write_es_pipeline.py
/eval/util/id2imgname.py
/eval/util/interface.py
/eval/util/ocr_interface.py

/eval/eval_local_img_milvus_zcl_query_cls.py
/eval/eval_local_img_milvus_zcl.py

/logs_clip_L_chinese-roberta-wwm-ext_448_i2t_0811
/logs_eva_clip_g_chinese-roberta-wwm-ext_448_i2t_0811
/logs_eva_clip_g_chinese-roberta-wwm-ext_448_i2t_0811_baiduyun2
/logs_eva-clip-g_chinese-roberta-wwm-ext
/logs_eva-clip-g_chinese-roberta-wwm-ext_448
/logs_eva-clip-g_chinese-roberta-wwm-ext_448_i2t
/logs_eva-clip-g_chinese-roberta-wwm-ext_448_i2t_query_cls
/logs_eva-clip-g_chinese-roberta-wwm-ext_image_ids
/logs_eva-clip-g_chinese-roberta-wwm-ext_image_ids_512

/output_clip_L_chinese-roberta-wwm-ext_448_i2t_0811
/output_eva_clip_g_chinese-roberta-wwm-ext
/output_eva_clip_g_chinese-roberta-wwm-ext_448
/output_eva_clip_g_chinese-roberta-wwm-ext_448_i2t
/output_eva_clip_g_chinese-roberta-wwm-ext_448_i2t_0811
/output_eva_clip_g_chinese-roberta-wwm-ext_448_i2t_0811_baiduyun2
/output_eva_clip_g_chinese-roberta-wwm-ext_448_i2t_query_cls
/output_eva_clip_g_chinese-roberta-wwm-ext_image_ids
/output_eva_clip_g_chinese-roberta-wwm-ext_image_ids_512

train_DDP.py
